.gnb_small {
    &>ul {
        // display: none;
        position: absolute;
        width: 150px;

        &>li a {
            display: block;
            color: #aaa;
            background-color: white;
            padding: 2px 0;
            text-decoration: none;
            
            &:hover {
                text-decoration: underline;
                color: #aaa;
            }
        }
    }
}