.shoe_flex {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    img {
        width: 70%;
    }

    .shoe_info {
        width: 30%;

        .commerce {
            font-size: 1.5rem;
        }

        .made, .price {
            font-size: 1.0em;
            margin-top: 1.0rem;
        }

    }
}